@if (products$ | async; as products){
<div class="container mx-auto">
  <h1 class="text-2xl font-bold my-2">Products Dashboard</h1>
  <div class="relative shadow-xs rounded-base ">
    <table class="w-full text-sm text-left rtl:text-right text-body border border-default">
      <thead class="text-sm text-body ">
        <tr class="border border-default">
          <th scope="col" class="px-6 py-3 font-medium">
            Product ID
          </th>
          <th scope="col" class="px-6 py-3 font-medium">
            Product Image
          </th>
          <th scope="col" class="px-6 py-3 font-medium">
            Product Name
          </th>
          <th scope="col" class="px-6 py-3 font-medium">
            Date Posted
          </th>
          <th scope="col" class="px-6 py-3 font-medium">
            Price
          </th>
          <th scope="col" class="px-6 py-3 font-medium">
            Category
          </th>
          <th scope="col" class="px-6 py-3 font-medium">
            Brand
          </th>
        </tr>
      </thead>
      <tbody>
        @for (product of products; track product._id) {
        <tr class=" hover:bg-red-200 cursor-pointer border border-default"
        [routerLink]="[`/products/${product._id}`]"
        >
          <td class="px-6 py-4 font-medium text-heading whitespace-nowrap" >
            {{product._id}}
          </td>
          <td class="py-4 ">
            <img [src]="product.images[0]" [alt]="product.title" class="w-20 rounded border border-1 mx-auto">
          </td>
          <td class="px-6 py-4">
            {{product.title}}
          </td>
          <td class="px-6 py-4">
            {{product.datePosted | date: 'dd/MM/yyyy'}}
          </td>
          <td class="px-6 py-4">
            {{product.price | currency:'EUR'}}
          </td>
          <td class="px-6 py-4">
            {{product.category}}
          </td>
          <td class="px-6 py-4">
            {{product.brand}}
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
}@else {
  Loading...
}